.navbar {
  background: #ffffff;

  margin: 0;
  height: 80px;
  left: 0px;
  right: 0px;
  top: 0px;
}

.logo {
  /*position: absolute;*/
  width: 160px;
  height: 69px;
  left: 67px;
  top: 6px;

  margin-left: 3rem;
  margin-top: 0.3rem;
}
